/* Grow */
.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover{
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover{
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.animate-popup {
  opacity: 0;
  -webkit-animation: popup 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: popup 1s ease-in 1 normal forwards;
       -o-animation: popup 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: popup 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-1 {
  -webkit-animation-delay: 500ms;
     -moz-animation-delay: 500ms;
       -o-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animate-2 {
  -webkit-animation-delay: 1.0s;
     -moz-animation-delay: 1.0s;
       -o-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.animate-3 {
  -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
       -o-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.animate-4 {
  -webkit-animation-delay: 2s;
     -moz-animation-delay: 2s;
       -o-animation-delay: 2s;
          animation-delay: 2s;
}

.animate-5 {
  -webkit-animation-delay: 2.5s;
     -moz-animation-delay: 2.5s;
       -o-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.animate-6 {
  -webkit-animation-delay: 3s;
     -moz-animation-delay: 3s;
       -o-animation-delay: 3s;
          animation-delay: 3s;
}
.animate-7 {
  -webkit-animation-delay: 3.5s;
     -moz-animation-delay: 3.5s;
       -o-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.animate-8 {
  -webkit-animation-delay: 4s;
     -moz-animation-delay: 4s;
       -o-animation-delay: 4s;
          animation-delay: 4s;
}
.animate-9 {
  -webkit-animation-delay: 4.5s;
     -moz-animation-delay: 4.5s;
       -o-animation-delay: 4.5s;
          animation-delay: 4.5s;
}


@-webkit-keyframes popup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes popup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes popup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

.fade{
  opacity: 0;
  transform: translate(0, 20px);
  -webkit-transition: opacity 1s ease-in;
   -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
     -o-transition :opacity 1s ease-in;
        transition: opacity 1s ease-in;

}

.fade.visible{
  opacity: 1;
  transform: translate(0, 0);
}
